<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WingCart | <%= user.fname %></title>
    <link rel="stylesheet" href="/static/css/profileStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/static/css/style1.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/skins/skin-demo-3.css">
    <link rel="stylesheet" href="/static/css/demos/demo-3.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .address-container {
        padding: 20px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    .address-actions {
        margin-top: 10px;
    }
</style>
</head>

<body>
    <header class="header header-intro-clearance header-3">
        <div class="header-middle">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>
                    
                    <a href="#" class="logo">
                        <h3 class="text-primary">WingCart</h3>
                    </a>
                </div><!-- End .header-left -->

                
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="/" class="text-white">Home</a>
                        </li>
                        <li>
                            <a href="/shop" class="sf-with-ul text-white">Shop</a>
                        </li>
                        <li>
                            <a href="#" class="sf-with-ul text-white">About</a>
                        </li>
                        <li>
                            <a href="#" class="sf-with-ul text-white">Contact</a>
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->

                <!-- Header-right -->
                <div class="header-right">
                    <div class="wishlist">
                        <a href="#" title="Wishlist">
                            <div class="icon">
                                <i class="icon-heart-o"></i>
                                <span class="wishlist-count badge">0</span>
                            </div>
                            <p>Wishlist</p>
                        </a>
                    </div><!-- End .compare-dropdown -->

                    <div class="wishlist">
                        <a href="/cartManagement" title="cart">
                            <div class="icon">
                                <i class="icon-shopping-cart"></i>
                                <span class="wishlist-count badge">0</span>
                            </div>
                            <p>Cart</p>
                        </a>
                    </div><!-- End .compare-dropdown -->

                    
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->


    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            Account settings
        </h4>
        <div class="user-header py-3">
            <h5><span><i class="fa-solid fa-user pr-2"></i></span> <%= user.fname %> <%= user.lname %></h5>
        </div>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active"
                            href="/userProfile">General</a>
                        <a class="list-group-item list-group-item-action"
                            href="/changePassword">Change password</a>
                        <a class="list-group-item list-group-item-action"
                            href="/addressManagement">Manage Addresses</a>
                        <a class="list-group-item list-group-item-action"
                            href="#account-social-links">Wishlist</a>
                        <a class="list-group-item list-group-item-action"
                            href="#account-connections">Order History</a>
                        <a class="list-group-item list-group-item-action"
                            href="#account-notifications">Wallet</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <hr class="border-light m-0">

                            <!-- ///////order-details////////// -->
                            <div class="container-order-details m-3">
                                <div class="top-div d-md-flex align-items-center justify-content-between py-4">
                                    <h3 class="text-muted">Order Details<br>Order ID: <%= order.orderId %></h3>
                                </div>
                                <div class="row" id="products-row">
                                    <% order.products.forEach((item, index) => { %>
                                        <div class="col-12 mb-3">
                                            <div class="card p-3" style="background-color: #f9f9f9;">
                                                <div class="card-body d-md-flex align-items-center justify-content-between">
                                                    <div class="card-left">
                                                        <h5 class="card-title"><%= item.product.name %></h5>
                                                        <p class="card-text">Price: ₹<%= item.price.toFixed(2) %></p>
                                                        <p class="card-text">Quantity: <%= item.quantity %></p>
                                                        <p class="card-text">Total: ₹<%= (item.price * item.quantity).toFixed(2) %></p>
                                                        <p class="card-text">Status: <%= item.status %></p>
                                                    </div>
                                                    <div class="card-center">
                                                        <img src="/assets2/img/<%= item.product.images[0] %>" style="width: 100px;" alt="image">
                                                    </div>
                                                    <div class="card-right">
                                                        <select class="form-select mb-2 border p-2 mx-2" >
                                                            <option value="<%= item.status %>"><%= item.status %></option>
                                                        </select>
                                                        <button class="btn btn-danger" onclick="cancelProduct('<%= order._id %>', '<%= item.product._id %>')" <%= item.status === 'cancelled' ? 'disabled' : '' %>>Cancel Product</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                            <!-- ///////////////////// -->


                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // async function updateStatus(orderId, productId, status) {
        //     const response = await fetch(`/updateOrderStatus/${orderId}/${productId}`, {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify({ status })
        //     });

        //     const statusData = response.json();

        //     if (statusData.success) {
        //         alert('Status updated!');
        //     } else if (response.ok) {
        //         alert(statusData.message);
        //     }
        // }
    
        async function cancelProduct(orderId, productId) {
            const response = await fetch(`/cancelProduct/${orderId}/${productId}`, {
                method: 'POST'
            });

            const cancelData = response.json();

            if (response.ok) {
                alert('Product Cancelled!');
                window.location.reload();
            } else if (!cancelData.success) {
                alert(cancelData.message);
            }

        }
    </script>

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
</body>

</html>