<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WingCart | <%= user.fname %></title>
    <link rel="stylesheet" href="/static/css/profileStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/static/css/style1.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/skins/skin-demo-3.css">
    <link rel="stylesheet" href="/static/css/demos/demo-3.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .address-container {
        padding: 20px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    .address-actions {
        margin-top: 10px;
    }
</style>
</head>

<body>
    <header class="header header-intro-clearance header-3">
        <div class="header-middle">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>
                    
                    <a href="#" class="logo">
                        <h3 class="text-primary">WingCart</h3>
                    </a>
                </div><!-- End .header-left -->

                
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="/" class="text-white">Home</a>
                        </li>
                        <li>
                            <a href="/shop" class="sf-with-ul text-white">Shop</a>
                        </li>
                        <li>
                            <a href="#" class="sf-with-ul text-white">About</a>
                        </li>
                        <li>
                            <a href="#" class="sf-with-ul text-white">Contact</a>
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->

                <!-- Header-right -->
                <div class="header-right">
                    <div class="wishlist">
                        <a href="/wishlist" title="Wishlist">
                            <div class="icon">
                                <i class="icon-heart-o"></i>
                                <span class="wishlist-count badge">0</span>
                            </div>
                            <p>Wishlist</p>
                        </a>
                    </div><!-- End .compare-dropdown -->

                    <div class="wishlist">
                        <a href="/cartManagement" title="cart">
                            <div class="icon">
                                <i class="icon-shopping-cart"></i>
                                <span class="wishlist-count badge">0</span>
                            </div>
                            <p>Cart</p>
                        </a>
                    </div><!-- End .compare-dropdown -->

                    
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->


    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            Account settings
        </h4>
        <div class="user-header py-3">
            <h5><span><i class="fa-solid fa-user pr-2"></i></span> <%= user.fname %> <%= user.lname %></h5>
        </div>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active"
                            href="/userProfile">General</a>
                        <a class="list-group-item list-group-item-action"
                            href="/changePassword">Change password</a>
                        <a class="list-group-item list-group-item-action"
                            href="/addressManagement">Manage Addresses</a>
                        <a class="list-group-item list-group-item-action"
                            href="#account-social-links">Wishlist</a>
                        <a class="list-group-item list-group-item-action"
                            href="/orderHistory">Order History</a>
                        <a class="list-group-item list-group-item-action"
                            href="#account-notifications">Wallet</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <hr class="border-light m-0">

                            <!-- ///////order-details////////// -->
                            <div class="container-order-details m-3">
                                <div class="top-div d-md-flex align-items-center justify-content-between py-4">
                                    <div class="order-details-header">
                                        <h3 class="text-muted">Order Details</h3>
                                        <div class="address-div p-3">
                                            <h5>Address:</h5>
                                            <p class="text-muted"><%= order.address.fname + ' ' + order.address.lname %> <br>
                                                <%= order.address.city + ', ' + order.address.state + ', ' + order.address.country %> <br>
                                                <%= order.address.pincode %></p>
                                        </div>
                                    </div>
                                    <div class="price-breakup">
                                        <p>Subtotal: &nbsp; &nbsp;₹<%= locals.subtotalBefore ? subtotalBefore.toFixed(2) : '' %><br>
                                            Gst (18%): &nbsp; &nbsp;₹<%= locals.gst ? gst.toFixed(2) : '' %><br>
                                            <% if (totalDiscount && totalDiscount != null) { %>
                                                Discounts: &nbsp; &nbsp;<span class="text-danger">- ₹<%= locals.totalDiscount ? totalDiscount.toFixed(2) : '' %></span><br>
                                            <% } %>
                                            Shipping: &nbsp; &nbsp;₹<%= locals.shipping ? shipping : '0.00' %><br>
                                            <b>Total: &nbsp; &nbsp;₹<%= locals.totalAmount ? totalAmount : '' %></b></p>
                                    </div>
                                    <h5>Order ID: <%= order.orderId %></h5>
                                </div>
                                <div class="row" id="products-row">
                                    <% order.products.forEach((item, index) => { %>
                                        <div class="col-12 mb-3">
                                            <div class="card p-3 shadow-sm" style="background-color: #f9f9f9; border-radius: 20px;">
                                                <div class="card-body d-md-flex align-items-center justify-content-between">
                                                    <div class="card-left">
                                                        <h5 class="card-title"><%= item.product.name %></h5>
                                                        <p class="card-text">Price: ₹<%= item.price.toFixed(2) %></p>
                                                        <p class="card-text">Quantity: <%= item.quantity %></p>
                                                        <p class="card-text">Total: ₹<%= (item.price * item.quantity).toFixed(2) %></p>
                                                        <p class="card-text">Status: <%= item.status %></p>
                                                    </div>
                                                    <div class="card-center p-2">
                                                        <img src="/assets2/img/<%= item.product.images[0] %>" style="width: 100px;" alt="image">
                                                    </div>
                                                    <div class="card-right d-md-flex align-items-center">
                                                        <span class="badge badge-primary fs-5 m-3 p-3"><%= item.status %></span>
                                                        <% if (item.status === 'delivered' || item.status === 'return requested') { %>
                                                            <button class="btn btn-danger" data-toggle="modal" data-target="#returnModal<%= index %>" <%= item.status === 'return requested' ? 'disabled' : '' %>>
                                                                Request Return
                                                            </button>
                                                        <% } else if (item.status === 'return accepted') { %>
                                                            <button class="btn btn-danger" disabled>
                                                                Returned
                                                            </button>
                                                        <% } else if (item.status === 'return rejected') { %>
                                                            <button class="btn btn-danger" disabled>
                                                                Return Rejected
                                                            </button>
                                                        <% } else { %>
                                                            <button class="btn btn-danger" disabled>
                                                                Cancel
                                                            </button>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <!-- Cancel Modal -->
                                        <div class="modal fade" id="cancelModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content p-5">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="cancelModalLabel">Cancel Product</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="cancelForm<%= index %>">
                                                            <div class="form-group">
                                                                <input type="hidden" id="orderId<%= index %>" value="<%= order._id %>">
                                                                <input type="hidden" id="productId<%= index %>" value="<%= item.product._id %>">
                                                                <label for="reason" class="errorMsg">Reason for Cancellation:</label>
                                                                <textarea class="form-control" id="reason<%= index %>"></textarea>
                                                            </div>
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Return Modal -->
                                        <div class="modal fade" id="returnModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="returnModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content p-5">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="returnModalLabel">Request for return</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="returnForm<%= index %>">
                                                            <div class="form-group">
                                                                <input type="hidden" id="orderId<%= index %>" value="<%= order._id %>">
                                                                <input type="hidden" id="productId<%= index %>" value="<%= item.product._id %>">
                                                                <label for="reason" class="errorMsg">Reason for returning:</label>
                                                                <textarea class="form-control" id="returnReason<%= index %>"></textarea>
                                                            </div>
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                            <!-- ///////////////////// -->


                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    
        //Cancel product
        document.querySelectorAll('[id^=cancelForm]').forEach(form => {

            form.addEventListener('submit', function(event) {
                event.preventDefault();
                const index = this.id.replace('cancelForm', '');
                const orderId = document.getElementById(`orderId${index}`).value;
                const productId = document.getElementById(`productId${index}`).value;
                const reason = document.getElementById(`reason${index}`).value;
                const errorMsg = document.querySelector('.errorMsg');

                if (reason.trim() === '') {
                    errorMsg.innerText = 'Please enter the cancellation reason';
                    errorMsg.classList.add('text-danger');
                    return;
                }

                fetch( `/cancelProduct/${orderId}/${productId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ reason }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Order Cancelled'
                    }).then(() => {
                        window.location.reload();
                        location.reload();
                    });
                    } else {
                        Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.message
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);

                    Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Error Cancelling Order'
                    });
                });
            });
        });
    </script>

    <script>
        //Return product
        document.querySelectorAll('[id^=returnForm]').forEach(form => {

        form.addEventListener('submit', function(event) {
            event.preventDefault();
            const index = this.id.replace('returnForm', '');
            const orderId = document.getElementById(`orderId${index}`).value;
            const productId = document.getElementById(`productId${index}`).value;
            const reason = document.getElementById(`returnReason${index}`).value;
            const errorMsg = document.querySelector('.errorMsg');
            

            if (reason.trim() === '') {
                errorMsg.innerText = 'Please enter the return reason';
                errorMsg.classList.add('text-danger');
                return;
            }
            

            fetch( `/returnProduct/${orderId}/${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ reason }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Return requested'
                }).then(() => {
                    window.location.reload();
                    location.reload();
                });
                } else {
                    Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: data.message
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);

                Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Error Cancelling Order'
                });
            });
        });
        });
    </script>

    

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
</body>

</html>