<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WingCart | <%= user.fname %></title>
    <link rel="stylesheet" href="/static/css/profileStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/static/css/style1.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/skins/skin-demo-3.css">
    <link rel="stylesheet" href="/static/css/demos/demo-3.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .address-container {
        padding: 20px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    .address-actions {
        margin-top: 10px;
    }
</style>
</head>

<body>
    <header class="header header-intro-clearance header-3">
        <div class="header-middle">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>
                    
                    <a href="#" class="logo">
                        <h3 class="text-primary">WingCart</h3>
                    </a>
                </div><!-- End .header-left -->

                
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="/" class="text-white">Home</a>
                        </li>
                        <li>
                            <a href="/shop" class="sf-with-ul text-white">Shop</a>
                        </li>
                        <li>
                            <a href="#" class="sf-with-ul text-white">About</a>
                        </li>
                        <li>
                            <a href="#" class="sf-with-ul text-white">Contact</a>
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->

                <!-- Header-right -->
                <div class="header-right">
                    <div class="wishlist">
                        <a href="/wishlist" title="Wishlist">
                            <div class="icon">
                                <i class="icon-heart-o"></i>
                                <span class="wishlist-count badge">0</span>
                            </div>
                            <p>Wishlist</p>
                        </a>
                    </div><!-- End .compare-dropdown -->

                    <div class="wishlist">
                        <a href="/cartManagement" title="cart">
                            <div class="icon">
                                <i class="icon-shopping-cart"></i>
                                <span class="wishlist-count badge">0</span>
                            </div>
                            <p>Cart</p>
                        </a>
                    </div><!-- End .compare-dropdown -->

                    
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->


    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            Account settings
        </h4>
        <div class="user-header py-3">
            <h5><span><i class="fa-solid fa-user pr-2"></i></span> <%= user.fname %> <%= user.lname %></h5>
        </div>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active"
                            href="/userProfile">General</a>
                        <a class="list-group-item list-group-item-action"
                            href="/changePassword">Change password</a>
                        <a class="list-group-item list-group-item-action"
                            href="/addressManagement">Manage Addresses</a>
                        <a class="list-group-item list-group-item-action"
                            href="/wishlist">Wishlist</a>
                        <a class="list-group-item list-group-item-action"
                            href="#account-connections">Order History</a>
                        <a class="list-group-item list-group-item-action"
                            href="/wallet">Wallet</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <hr class="border-light m-0">

                            <!-- ///////orders-container////////// -->
                            <div class="container-orders m-3">
                                <div class="top-div d-md-flex align-items-center justify-content-between py-4">
                                    <h3 class="text-muted">Order History</h3>
                                </div>
                                <div class="row" id="orders-row">
                                    <% if (orders.length > 0) { %>
                                        <% orders.forEach((order, index) => { %>
                                            <div class="col-12 mb-3">
                                                <div class="card p-5 shadow-sm" style="background-color: #f9f9f9; border-radius: 20px;">
                                                    <div class="card-body d-md-flex align-items-center justify-content-between" style="padding: 0;">
                                                        <div class="card-left">
                                                            <p class="card-title pb-2">Order <%= orders.length - index %></p>
                                                            <h5 class="">Order Id: <%= order.orderId %></h5>
                                                            <div class="card-text d-flex align-items-end justify-content-between">
                                                                <div>
                                                                    Total Amount: <strong>₹<%= order.totalAmount.toFixed(2) %></strong><br>
                                                                    Order Date: <%= order.orderDate.toDateString() %><br>
                                                                </div>
                                                                <% if (order.paymentStatus === 'Pending') { %>
                                                                    <button type="button" class="badge badge-danger retryBtn" data-order-id="<%= order.orderId %>" style="padding: 10px; border: none;"><strong>Payment Pending</strong></span><i class="fa-solid fa-rotate-right px-2"></i></button>
                                                                <% } %>
                                                            </div>
                                                        </div>
                                                        <div class="card-right">
                                                            <a href="/orderDetails/<%= order._id %>"><button class="btn btn-primary">View Details</button></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }); %>
                                    <% } else { %>
                                        <h5 class="pl-4">No orders yet!</h5>
                                    <% } %>
                                </div>
                            </div>


                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const retryBtn = document.querySelectorAll('.retryBtn').forEach((btn) => {
                btn.addEventListener('click', (event) => {
                event.preventDefault();
                const orderId = btn.getAttribute('data-order-id');
                retryPayment(orderId);
            })
        });

        const retryPayment = async (orderId) => {
            try {
                const response = await fetch('/retryPayment', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        orderId
                    })
                });

                const result = await response.json();

                if (result.success) {
                        console.log('Initiating Razorpay payment...');

                        const options = {
                            key: result.key,
                            amount: result.totalAmount,
                            currency: 'INR',
                            name: 'Wingcart',
                            description: 'Test Transaction',
                            image: 'https://your-logo-url.com',
                            order_id: result.razorpayOrderId,
                            handler: async function (response) {
                                console.log('Payment successful. Redirecting...');
                                // window.location.href = `/orderHistory?orderId=${orderId}`;
                                const updatePaymentStatus = await fetch('/updatePaymentStatus', {
                                method: 'PATCH',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    orderId
                                })
                            });

                            const updateResult = await updatePaymentStatus.json();

                            if (updateResult.success) {
                                location.reload();
                            } else if (updateResult.isActive === false) {
                                window.location.href = '/userLogin';
                            }

                            },
                            prefill: {
                                name: result.user.name,
                                email: result.user.email,
                                contact: result.user.phone
                            },
                            notes: {
                                address: result.address.city
                            },
                            theme: {
                                color: '#3399cc'
                            }
                        };

                        const rzp1 = new Razorpay(options);
                        
                        // Payment failure
                        rzp1.on('payment.failed', function (response) {
                            console.error('Payment failed:', response.error);
                            Swal.fire({
                                icon: 'info',
                                title: 'Alert',
                                text: 'Payment has failed. Please try again!'
                            })
                            .then(() => {
                                window.location.href = `/orderHistory`;
                            })

                        });

                        console.log('Opening Razorpay...');
                        rzp1.open();
                } else if (result.isActive === false) {
                    window.location.href = '/userLogin';
                } else {
                    console.log('Order creation failed. Message: ', result.message);
                    alert(result.message);
                }
            } catch (error) {
                console.error('Error creating order:', error);
                alert('An error occurred while creating the order.');
            }
        }
    </script>

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Razorpay -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
</body>

</html>